/** ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: oue-custom.less                                                                    │
*** │                                                                                              │
*** │ SUMMARY: Style rules for presenting content on the website of WSU's Division of Academic     │
*** │   Engagement and Student Achievement (DAESA), which is built using the builder template of   │
*** │   the Spine parent theme of WSUWP. Styles are designed to accompany or supersede styling     │
*** │   associated with the theme.                                                                 │
*** │                                                                                              │
*** │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)           │
*** └──────────────────────────────────────────────────────────────────────────────────────────────┘
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: Build entry point from DAESA's CSS development project...............................36
***  §2: Persistent section header comment for unit specific styling..........................45
***  §3: Styling at body & page level.........................................................77
***  §4: Styling at the section level........................................................117
***    >>> §4.1: Headings....................................................................212
***    >>> §4.2: Asides......................................................................228
***  §5: Styling at the content grouping level...............................................305
***    >>> §5.1: Lists.......................................................................309
***  §6: Styling at the embedded content level...............................................315
***    >>> §6.1: Tabular data................................................................319
***  §7: Styling included via Less mixins....................................................325
***  §8: Site-specific semantic CSS styling..................................................346
***  §9: Global DAESA footer.................................................................364
***  §10: Styling of specific components.....................................................464
***    >>> §10.1: Coming up feed.............................................................468
***    >>> §10.2: DAESA focus features.......................................................492
***    >>> §10.3: ESTEEMED MIRA Training Faculty table.......................................492
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** §1: Build entry point from DAESA's CSS development project
**/

@grid-behavior: "hybrid";
@oue-rules-wrapper: ~"";
@import "..\WSU-UE---CSS\variables.less";
@use-design__daesa-main-headers: false;
@use-design__provost-main-headers: true;
@import "..\WSU-UE---CSS\css-build-entry-point.less";

/** ================================================================================================
*** §2: Persistent section header comment for unit specific styling
**/

/*! ================================================================================================
*** DAESA Website Styling Section
*** ================================================================================================
*** SUMMARY: CSS code designed for use on Washington State University's [DAESA website](https://stag
***   e.web.wsu.edu/oue/) that was built from precompiled CSS written in the Less language extension
***   of CSS.
***
*** DESCRIPTION: Fully documented, precompiled source code from which this section of the custom
***   stylesheet was built is developed and maintained on the following GitHub project:
***   https://github.com/invokeImmediately/provost.wsu.edu_daesa/
***
*** AUTHOR: Daniel Rieck [daniel.rieck@wsu.edu] (https://github.com/invokeImmediately)
***
*** LICENSE: ISC - Copyright (c) 2020 Daniel C. Rieck.
***
***   Permission to use, copy, modify, and/or distribute this software for any purpose with or
***   without fee is hereby granted, provided that the above copyright notice and this permission
***   notice appear in all copies.
***
***   THE SOFTWARE IS PROVIDED "AS IS" AND DANIEL C. RIECK DISCLAIMS ALL WARRANTIES WITH REGARD TO
***   THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT
***   SHALL DANIEL C. RIECK BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR
***   ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF
***   CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
***   PERFORMANCE OF THIS SOFTWARE.
*** ================================================================================================
**/

/** ================================================================================================
*** §3: Styling at body & page level
**/

#jacket {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
}

#spine #glue:before {
	border-right: 1px solid #e5e5e5;
	background: #fff url(https://s3.wp.wsu.edu/uploads/sites/1368/2017/02/bg-spine.png) no-repeat left bottom;
	background-attachment: fixed;

	@media only screen and (max-width: 1488px) {
		background: #fff;
	}
}

body.home:not(.has-background-image) #jacket, #jacket {
	background: #e5e5e5 url(https://s3.wp.wsu.edu/uploads/sites/1368/2017/03/bg-jacket-4.jpg) no-repeat right top;
	background-attachment: fixed;
}

body {
	background: @hex-bright-gray;
}

main {
	background: @hex-white;
	border-left: 1px solid @hex-bright-gray;
}

/** ================================================================================================
*** §4: Styling at the section level
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.1: Headings
**/

@esteemed-headings-rs: {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		.tt--uppercase;
	}
};
@esteemed-headings-rs();

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.2: Asides
**/

// TODO: Remove?
.column {
	aside {
		font-size: .8rem;
		&+aside {
			margin-top: @v-dflt-spcng;
		}
		p, ul {
			font-size: inherit;
			&:not(:last-child) {
				margin-bottom: 0.8rem;
			}
			&:last-child:not(.no-bottom-pad) {
				padding-bottom: 0;
			}
		}
		&.article-sidebar {
			background: #f8f1eb url(/wp-content/uploads/sites/1303/2016/11/tileable-concrete-texture_128x128.png) left top repeat;
			&.green-marble {
				background: #e3dfcd url(/wp-content/uploads/sites/1303/2016/11/seamless-marble-texture_528x528.png) left top repeat;
				border: 1px solid #afa370;
				box-shadow: 3px 3px 3px rgba(57,50,21,0.3333);
			}
			&.bluish-gray {
				background: #edf3f4 url(/wp-content/uploads/sites/1303/2016/11/vertically-tileable-gray-acrylic_opacity-0.15.png) left top repeat-y;
				background-size: 100% auto;
				border: 1px solid #464e54;
				box-shadow: 3px 3px 3px rgba(42,48,51,0.3333);
			}
		}
	}
}

.column .widget_rss {
	a {
		border-bottom: none;
		box-shadow: none;
		&:hover {
			border-bottom: none;
			box-shadow: none;		
		}
		&.rsswidget img {
			display: none;
		}
	}
	ul li {
		list-style-type: disc;
	}
}

.recent-posts {
	padding-bottom: (@v-dflt-spcng / 2);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #edf3f4;
	box-shadow: 0 1px 2px rgba(red(@hex-black), green(@hex-black), blue(@hex-black), 0.33);
	& > h4.fancy.with-top-border:first-child {
		background: linear-gradient(to right,
		 rgba(red(@hex-crimson), green(@hex-crimson), blue(@hex-crimson), 0.075),
		 rgba(red(@hex-crimson), green(@hex-crimson), blue(@hex-crimson), 0.075)),
		 linear-gradient(to right, @hex-white, @hex-white);
		.has-responsive-font(@v-h4-sz * @v-scl-dwn, @v-hX-lnhght);
	}
	a {
		border-bottom: none;
		box-shadow: none;
	}
	& + & {
		margin-top: @v-dflt-spcng;
	}
}

/** ================================================================================================
*** §5: Styling at the content grouping level
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §5.1: Lists
**/

// TODO: Design layout for programs & Units lists

/** ================================================================================================
*** §6: Styling at the embedded content level
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §6.1: Tabular data
**/

// TODO: Decide if this is still needed.

/** ================================================================================================
*** §7: Styling included via Less mixins
**/

.include-quick-tabs-layout(true);
.use-linked-columns();
// @pseudo-footer-bg: { background: @hex-white url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEBLAEsAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/2wBDAAEBAQEBAQEBAQEBAQEBAQICAQEBAQMCAgICAwMEBAMDAwMEBAYFBAQFBAMDBQcFBQYGBgYGBAUHBwcGBwYGBgb/2wBDAQEBAQEBAQMCAgMGBAMEBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgb/wgARCAAiAAEDAREAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAj/xAAWAQEBAQAAAAAAAAAAAAAAAAAABgj/2gAMAwEAAhADEAAAAYTk92AAf//EABQQAQAAAAAAAAAAAAAAAAAAACD/2gAIAQEAAQUCP//EABQRAQAAAAAAAAAAAAAAAAAAACD/2gAIAQMBAT8BP//EABQRAQAAAAAAAAAAAAAAAAAAACD/2gAIAQIBAT8BP//EABQQAQAAAAAAAAAAAAAAAAAAACD/2gAIAQEABj8CP//EABQQAQAAAAAAAAAAAAAAAAAAACD/2gAIAQEAAT8hP//aAAwDAQACAAMAAAAQAAH/xAAUEQEAAAAAAAAAAAAAAAAAAAAg/9oACAEDAQE/ED//xAAUEQEAAAAAAAAAAAAAAAAAAAAg/9oACAECAQE/ED//xAAUEAEAAAAAAAAAAAAAAAAAAAAg/9oACAEBAAE/ED//2Q==')
//  left bottom repeat-x; };
// .use-main-pseudo-footer(@pseudo-footer-bg, 34px);
.use-sectional-article-headers();
// .use-short-main-header-on-pages();

@addl-sctnl-article-header-rs: {
	.article-header .one > * {
		.animation(fade-in; 2s; linear; 0s; 1);
	}
};
@addl-sctnl-article-header-rs();

.use-glass-button-layout();

/** ================================================================================================
*** §8: Site-specific semantic CSS styling
**/

.wsuwp-content-syndicate-wrapper {
	.content-item-byline-author {
	display: none;
	}

	.content-item-byline-date {
	display: none;
	}

	.content-item-read-story {
	display: none;
	}
}

/** ================================================================================================
*** §9: Global DAESA bar & footer
**/

@daesa-global-footer-rs: {
	.globalbar {
		background: rgb(130,12,35,1);
		background: -moz-linear-gradient(left,rgba(130,12,35,1) 0%,rgba(166,15,45,1) 100%);
		background: -webkit-linear-gradient(left,rgba(130,12,35,1) 0%,rgba(166,15,45,1) 100%);
		background: linear-gradient(to right,rgba(130,12,35,1) 0%,rgba(166,15,45,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#820c23',endColorstr='#a60f2d',GradientType=1);
		height: 4px;
		position: fixed;
		top: 0;
		width: 1188px;
		z-index: 99352;
	}

	.footersection {
		height: auto;
		position: relative;
	}

	.column {
		.footer {
			align-items: center;
			background: #262626;
			bottom: 0;
			color: #fff;
			display: flex;
			height: auto;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: fixed;
			width: 100%;
			z-index: 9999;

			@media screen and (max-width: @column-floating-threshold) {
				position: absolute;
				
				ul {
					white-space: nowrap;
					overflow-x: auto;
				}
			}

			a {
				border-width: 0;
				color: white;

				&:hover {
					background-color: transparent;
					border-bottom-width: 3px;
					color: #ca1237;
				}
			}

			ul {
				color: #b7b7b7;
				display: block;
				list-style-type: none;
				margin: 0;
				padding: 0 2em 0 2.6em;
				width: 100%;

				li {
					display: inline;
					font-size: .65em;
					font-weight: normal;
					list-style-type: none;
					margin: 0;
					padding: 0;
					text-align: left;

					&::before {
						content: "";
						display: none;
						list-style-type: none;
					}

					&::after {
						content: ",";
						margin: 0;
						list-style-type: none;
					}

					&:last-child::after {
						content: "";
						list-style-type: none;
					}
				}
			}
		}
	}
};

@daesa-global-footer-rs();


/** ================================================================================================
*** §10: Styling of specific components
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.1: Coming up feed
**/

#coming-up-feed {
	.content-item-event-date {
		font-weight: bold;

		&:after {
			content: ":";
		}
	}

	.content-item-event-venue {
		&:before {
			content: "@ ";
		}

		&:empty {
			display: none;
		}
	}
}

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.2: DAESA focus features
**/

@daesa-focus-feature-rs: {
	#daesa-focus-feature {
		background: #eff0f1;

		.wp-caption-text {
			padding-left: 2rem;
			padding-right: 2rem;
			max-width: 100ch;
		}

		img {
			border-bottom: 4px solid #a31d36;
			display: block;
		}
	}
};
@daesa-focus-feature-rs();

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.3: ESTEEMED MIRA Training Faculty table
**/

@esteemed-mira__training-faculty-table-rs: {
	@profile_h: 108px;
	@profile_w: @profile_h;

	#tablepress-2_wrapper {
		.column-1 {
			min-width: 10em;
		}
	}

	.tf-profile {
		.tf-profile__image {
			background-color: #eff0f1;
			background-size: cover;
			display: block;
			height: @profile_h;
			margin-bottom: .25em;
			width: @profile_w;
		}

		&.tf-profile--suzanne-appleyard-wayman {
			.tf-profile__image {
				background-image: url(https://ipn.vetmed.wsu.edu/images/librariesprovider28/faculty/appleyard-suzanne.jpg);
			}
		}

		&.tf-profile--santanu-bose {
			.tf-profile__image {
				background-image: url(https://vmp.vetmed.wsu.edu/images/librariesprovider28/faculty/santanu-bosec48f1b9200636ae48082ff00000c094d.jpg);
			}
		}

		&.tf-profile--jim-brozik {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/89/2014/06/DSC_7353-396x264.jpg);
			}
		}

		&.tf-profile--jean-celli {
			.tf-profile__image {
				background-image: url(https://globalhealth.wsu.edu/images/librariesprovider28/faculty/celli-jean.jpg);
			}
		}

		&.tf-profile--michael-cleveland {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/908/2016/08/Michael-Cleveland-compressed.jpg);
			}
		}

		&.tf-profile--allison-coffin {
			.tf-profile__image {
				background-image: url(https://directory.vancouver.wsu.edu/sites/directory.vancouver.wsu.edu/files/styles/rectangle/public/profile_photos/coffin_0.jpg);
			}
		}

		&.tf-profile--min-du {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/386/2017/06/MinDu20170531_200x237.jpg);
			}
		}

		&.tf-profile--rita-fuchs-lokensgard {
			.tf-profile__image {
				background-image: url(https://ipn.vetmed.wsu.edu/images/librariesprovider28/faculty/rita-fuchs.jpg);
			}
		}

		&.tf-profile--hassan-ghasemzadeh {
			.tf-profile__image {
				background-image: url(https://school.eecs.wsu.edu/wp-content/uploads/Ghasemzadeh_Hassan_EECS-225x300.jpg);
			}
		}

		&.tf-profile--alan-goodman {
			.tf-profile__image {
				background-image: url(https://smb.wsu.edu/images/librariesprovider28/faculty/alan-goodman.jpg);
			}
		}

		&.tf-profile--thomas-kawula {
			.tf-profile__image {
				background-image: url(https://globalhealth.wsu.edu/images/librariesprovider28/faculty/kawula-tom.jpg);
			}
		}

		&.tf-profile--leigh-knodler {
			.tf-profile__image {
				background-image: url(https://vmp.vetmed.wsu.edu/images/librariesprovider28/faculty/knodler-leigh.jpg);
			}
		}

		&.tf-profile--michael-konkel {
			.tf-profile__image {
				background-image: url(https://smb.wsu.edu/images/librariesprovider28/faculty/michael-konkel.jpg);
			}
		}

		&.tf-profile--alla-kostyukova {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/734/2019/08/akostyukova-headshot-2019-150w-132x198.jpg);
			}
		}

		&.tf-profile--david-lin {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/734/2019/08/dlin-headshot-2019-150w-132x198.jpg);
			}
		}

		&.tf-profile--eric-lofgren {
			.tf-profile__image {
				background-image: url(https://globalhealth.wsu.edu/images/librariesprovider28/faculty/eric-lofgren.jpg);
			}
		}

		&.tf-profile--ryan-mclaughlin {
			.tf-profile__image {
				background-image: url(https://ipn.vetmed.wsu.edu/images/librariesprovider28/faculty/ryan-mclaughlin.jpg);
			}
		}

		&.tf-profile--anthony-nicola {
			.tf-profile__image {
				background-image: url(https://vmp.vetmed.wsu.edu/images/librariesprovider28/faculty/nicola-anthony.jpg);
			}
		}

		&.tf-profile--roberta-o-connor {
			.tf-profile__image {
				background-image: url("https://vmp.vetmed.wsu.edu/images/librariesprovider28/faculty/roberta-(robbie)-o\'connor.jpeg");
			}
		}

		&.tf-profile--anders-omsland {
			.tf-profile__image {
				background-image: url(https://globalhealth.wsu.edu/images/librariesprovider28/faculty/omsland-anders.jpg);
			}
		}

		&.tf-profile--james-pru {
			.tf-profile__image {
				background-image: url(https://ansci.wsu.edu/wp-content/uploads/sites/386/2014/12/pru.jpg);
			}
		}

		&.tf-profile--ray-quock {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/514/2015/02/raymond_quock.jpg);
			}
		}

		&.tf-profile--steven-roberts {
			.tf-profile__image {
				background-image: url(https://smb.wsu.edu/images/librariesprovider28/faculty/steven-roberts.jpg);
			}
		}

		&.tf-profile--dana-shaw {
			.tf-profile__image {
				background-image: url(https://vmp.vetmed.wsu.edu/images/librariesprovider28/faculty/dana-shaw-sm.jpg);
			}
		}

		&.tf-profile--michael-skinner {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/1176/2018/10/Michael-Skinner_6196.jpg);
			}
		}

		&.tf-profile--viveka-vadyvaloo {
			.tf-profile__image {
				background-image: url(https://vmp.vetmed.wsu.edu/images/librariesprovider28/faculty/vadyvaloo-viveka.jpg);
			}
		}

		&.tf-profile--anita-vasavada {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/734/2019/08/vasavada-headshot-2019-150w-132x198.jpg);
			}
		}

		&.tf-profile--gary-wayman {
			.tf-profile__image {
				background-image: url(https://ipn.vetmed.wsu.edu/images/librariesprovider28/faculty/wayman_gary.jpg);
			}
		}

		&.tf-profile--john-wyrick {
			.tf-profile__image {
				background-image: url(https://smb.wsu.edu/images/librariesprovider28/faculty/john-wyrick.jpg);
			}
		}

		&.tf-profile--ming-xian {
			.tf-profile__image {
				background-image: url(https://s3.wp.wsu.edu/uploads/sites/89/2014/07/Xian11-396x594.jpg);
			}
		}
	}
};
@esteemed-mira__training-faculty-table-rs();
